<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listing Cron</title>
</head>

<body>
  <div class="table-responsive p-3">
    <h2 class="font-weight-600 mt-2">Cron Listing</h2>
    <table class="table mt-4 table-striped">
      <thead>
        <tr>
          <th scope="col">API URL</th>
          <th scope="col">Method</th>
          <th scope="col">Time</th>
          <th scope="col">Email</th>
          <th scope="col">Status Code</th>
          <th scope="col">Resolved</th>
        </tr>
      </thead>
      <tbody>
        <% if (cronJob.length===0) { %>
          <tr>
            <td colspan="6">No record found</td>
          </tr>
          <% } else { %>
            <% cronJob.map(d=> { %>
              <tr>
                <td>
                  <%= d.apiURL %>
                </td>
                <td>
                  <%= d.method %>
                </td>
                <td>
                  <%= d.time %>
                </td>
                <td>
                  <%= d.email %>
                </td>
                <td>
                  <%= d.statusCode %>
                </td>
                <td>
                  <%= d.isResolved %>
                </td>
              </tr>
              <% }) %>
                <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>